{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil - Mon Portfolio{% endblock %}


{% block content %}

<!-- Page d'Accueil -->


<section id="accueil" class="vh-100 text-center">
    <div class="content">
        <img src="#" alt="Amadou Sy" class="rounded-circle profile-photo mb-4">
        <h1 class="display-4 fw-bold text-rose">Amadou Sy</h1>
        <p class="lead">Développeur Web & Django junior</p>
        <a href="#" class="btn btn-outline-light mt-3">Voir mes projets</a>
    </div>
</section>

<!-- Fin de page d'accueil-->

<!-- Page de Competences -->


<!-- Fin de Page de Competences -->
{% endblock %}
